<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Netenrich_Plugin::plugin" title="Plugin" sortOrder="40">
                    <resource id="Netenrich_Plugin::manage" title="All Plugin" sortOrder="10" >
                        <resource id="Netenrich_Plugin::save" title="Save Plugin" sortOrder="10" />
                        <resource id="Netenrich_Plugin::plugin_delete" title="Delete Plugin" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Netenrich_Plugin::config_plugin" title="Plugin Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
