<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Netenrich_Company::company" title="Company" sortOrder="40">
                    <resource id="Netenrich_Company::manage" title="All Companys" sortOrder="10" >
                        <resource id="Netenrich_Company::save" title="Save Company" sortOrder="10" />
                        <resource id="Netenrich_Company::company_delete" title="Delete Company" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Netenrich_Company::config_company" title="Company Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
