<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="productsave" instance="Netenrich\Company\Model\Observer\ProductSave" />
    </event>
	
	<event name="catalog_product_save_before">
        <observer name="productsavebefore" instance="Netenrich\Company\Model\Observer\ProductSavebefore" />
    </event>
</config>