<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Netn. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Netn_Distibutor::netn_distibutor_index" title="Manage Distibutor" module="Netn_Distibutor"  sortOrder="20" dependsOnModule="Netn_Distibutor" action="distibutor/distibutor/index" resource="Netn_Distibutor::netn_distibutor_index"/>
<!--AddMenu-->
    </menu>
</config>
